@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Anonymous+Pro&family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@font-face {
  font-family: "Magnolia Script";
  src: url("https://fonts.cdnfonts.com/s/13745/MagnoliaScript.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}


.welcome-text h2 {
  font-family: 'Raleway', sans-serif;
}

